<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
        <style>
            .inputicon {
                position: relative;
                top: -32px;
                left: 20px;
            }
        </style>
</head>

<body>
    <%- include("../include/navbar.ejs") %>
        <!--Main layout-->
        <main style="margin-top: 108px; margin-bottom: 75px;">
            <section class="container-fluid">
                <form action="/admin/addnewclient" method="POST">
                    <div class="row justify-content-around  p-3">
                        <div class="col-md-8 mb-4 ">
                            <!-- Card -->
                            <div class="card p-3">
                                <div class="px-3 py-2 border-bottom">
                                    <!-- Title -->
                                    <h4 class="card-title m-3"><a>Client Details</a></h4>
                                </div>

                                <!-- Card content -->
                                <div class="card-body">
                                    <div class="row  justify-content-around ">

                                        <div class=" col-md-6 form-group mb-4">

                                            <input type="text" name="clientName" class="form-control p-2  " required placeholder="Client name">
                                        </div>
                                        <div class="col-md-6 form-group mb-4 ">
                                            <input required type="text" name="clientAddress" class="form-control p-2" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row  justify-content-around  ">

                                        <div class=" col-md-6 form-group mb-4 ">
<<<<<<< HEAD
                                            <input required pattern=".+@gmail\.com" type="email" name="email" class="form-control p-2 " placeholder="Email address">
=======
                                            <input type="email" name="email" class="form-control p-2 " placeholder="Email address">
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input required type="number" name="clientPhone" class="form-control p-2 " placeholder="Contact Number">
                                        </div>

                                    </div>
                                    <div class="row  justify-content-around ">

                                        <div class=" col-md-6 form-group ">
                                            <select class="form-select p-2" name="clientgender" aria-label="Default select example">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                         
                                              </select>
                                        </div>
                                        <div class="col-md-6 form-group  ">
                                            <input required class="form-control p-2" placeholder="password" name="clientpassword" type="password" id="password">
                                            <div class="mt-2 d-flex justify-content-start">
                                                <div class=""><input type="checkbox" onclick="myFunction()"></div>
                                                <div class=" ms-1">
                                                    <p class="fs-6" style="font-weight:10px"> <small>Show Password</small> </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <% if(newclient == 'alreadyclient') {%>
                        <div class="row text-center">
                            <h6 class="text-danger">Already client</h6>
                        </div>
                        <% } %>


                            <div class="row ">
                                <div class="p-2 d-flex justify-content-center"> <input type="submit" class="btn btn-primary" value="Add Client"></div>

                            </div>
                </form>
            </section>

        </main>
        <!--Main layout-->


        <%- include("../include/footer.ejs") %>
            <script>
                function myFunction() {
                    var x = document.getElementById("password");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- MDB -->
            <script>
                console.log("newclient")
            </script>
            <% if(newclient == 'alreadyclient') {%>
                <script>
                    Toastify({
                        text: "Client already Exists",
                        backgroundColor: "red",
                        position: "right",
                        duration: 1000,
                        className: "info",
                    }).showToast();
                </script>
                <% } %>
                    <% if(newclient == 'newclient') {%>
                        <script>
                            Toastify({
                                text: "added newclient",
                                backgroundColor: "rgba(21,167,68,1)",
                                position: "right",
                                duration: 1000,
                                className: "info",
                            }).showToast();
                        </script>
                        <% } %>



</body>

</html>