<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
</head>

<body>
    <%- include("../include/navbar.ejs") %>
        <!--Main layout-->
        <main style="margin-top: 108px">
            <section class="container-fluid ">
                <form action="/admin/addnewEmployee" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <div class="row justify-content-around  p-3">
                        <div class="col-md-6 mb-4 ">
                            <!-- Card -->
                            <div class="card p-3 border-lg">
                                <div class="px-3 py-2 border-bottom text-center">
                                    <!-- Title -->
                                    <h4 class="card-title m-3"><a>Add Team</a></h4>
                                </div>

                                <!-- Card content -->
                                <div class="card-body">
                                    <div class="row  justify-content-around ">

                                        <div class=" col-12 form-group mb-4">
                                            <label for="teammebername">Employee Name</label>
                                            <input type="text" id="teammebername" name="memberName" class="form-control border-dark p-2" placeholder="Full Name">
                                        </div>
                                        <div class=" col-12 form-outline mb-4">
                                            <label for="exampleInputEmail1">Position</label>
                                            <select class="form-select p-2 border-dark" name="position" aria-label="Default select example">
                                                <option value="frontend" name="frontend">Frontend</option>
                                                <option value="backend" name="backend">Backend</option>
                                                <option value="FullStack" name="FullStack">FullStack</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row  justify-content-around  ">
                                        <div class="col-md-6 form-group mb-4">
                                            <input type="text" class="form-control p-2 border-dark" name="contactNumber" placeholder="Contact Number">
                                        </div>
                                        <div class=" col-md-6 form-group mb-4">
                                            <input type="email" class="form-control p-2 border-dark" name="email" placeholder="Email" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="row justify-content-around  mb-4">
                                        <div class="col-md-12">
                                            <input type="text" autocomplete="off" class="form-control p-2 border-dark" name="address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row justify-content-around mb-4">
                                        <div class="col-md-12">
                                            <input type="file" autocomplete="off" class="form-control p-2 border-dark" name="teamaddimage">
                                        </div>
                                    </div>
                                    <div class="row justify-content-around ">
                                        <div class="col-md-12">
                                            <input type="password" autocomplete="off" class="form-control p-2 border-dark" name="teampassword" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="row  p-3">
                                        <div class="text-center">
                                            <input type="submit" class="btn btn-primary" value="create Team Member">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </form>
            </section>

        </main>
        <!--Main layout-->

        <%- include("../include/footer.ejs") %>
            <% if(message) {%>
                <script>
                    Toastify({
                        text: "New Team Added",
                        backgroundColor: "rgba(21,167,68,1)",
                        position: "right",
                        duration: 1000,
                        className: "info",
                    }).showToast();
                </script>
                <% } %>
                    <% if(alreadyuser) {%>
                        <script>
                            Toastify({
                                text: "user already added",
                                backgroundColor: "rgba(21,167,68,1)",
                                position: "right",
                                duration: 1000,
                                className: "info",
                            }).showToast();
                        </script>
                        <% } %>

</body>


</html>