<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
</head>

<body>

    <header>



        <!-- Navbar -->
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="overflow-x: scroll;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-1 mt-4">

                        <a href="" class="list-group-item list-group-item-action  py-3 ripple border-danger mt-3" data-mdb-ripple-color="primary" aria-current="true" data-mdb-ripple-duration="800ms">
                            <i class="fas fa-columns text-primary  me-3"></i><span>Main dashboard</span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action  py-3 ripple border-danger mt-3" data-mdb-ripple-color="primary" aria-current="true" data-mdb-ripple-duration="800ms">
                            <i class="fas fa-columns text-primary  me-3"></i><span>assigned project</span>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Sidebar -->

            <!-- Navbar -->
            <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <!-- Container wrapper -->
                <div class="container-fluid">
                    <!-- Toggle button -->
                    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

                    <!-- Brand -->
                    <a class="navbar-brand" href="#">
                        <img src="/vendor/image/team-management--removebg-preview.png" height="50" alt="" loading="lazy" />
                    </a>

                    <!-- Right links -->
                    <ul class="navbar-nav ms-auto d-flex flex-row">

                        <label for="">welcome <%= userdetails.memberName %> </label>
                        <!-- Search form -->
                        <form class="d-none d-md-flex input-group w-auto my-auto">

                            <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search ' style="min-width: 225px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                        </form>

                        <!-- Notification dropdown -->
                        <!-- <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Team Notification</a></li>
                        <li><a class="dropdown-item" href="#">Project Notification</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Something else</a>
                        </li>
                    </ul> -->
                        <!-- </li> -->
                        <li class="nav-item dropdown">
                            <div class="dropdown mt-1">
                                <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Setting</a></li>
                                    <li><a class="dropdown-item" href="#">Logout</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Avatar -->
                        <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li> -->
                    </ul>
                </div>
                <!-- Container wrapper -->

            </nav>
            <!-- Navbar -->

        </header>


    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px">

        <!--Section: Minimal statistics cards-->
        <section class="container pt-5">

            <div class="row ">
                <div>
                    client Dashboard
                </div>
            </div>
        </section>
        <!--Section: Minimal statistics cards-->
        <!--Section: Minimal statistics cards-->
        <section class="container pt-2">
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card py-4 px-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-info">278</h3>
                                    <p class="mb-0">New Posts</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-book-open text-info fa-3x"></i>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card py-4 px-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-warning">156</h3>
                                    <p class="mb-0">New Comments</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="far fa-comments text-warning fa-3x"></i>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mb-4">
                    <div class="card py-4 px-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-success">64.89 %</h3>
                                    <p class="mb-0">Bounce Rate</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-mug-hot text-success fa-3x"></i>
                                </div>
                            </div>
                            <div class="px-md-1">
                                <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Minimal statistics cards-->

        <div class="container pt-4">
            <!-- Section: Main chart -->
            <section class="mb-4">
                <div class="card">
                    <div class="card-header py-3">
                        <h5 class="mb-0 text-center"><strong>Sales</strong></h5>
                    </div>
                    <div class="card-body">
                        <canvas class="my-4 w-100" id="myChart" height="380"></canvas>
                    </div>
                </div>
            </section>
            <!-- Section: Main chart -->
        </div>
    </main>
    <!-- MDB -->
    <%- include("../include/footer.ejs") %>



</body>

</html>