<style>
    .footericon {
        background-color: white;
    }
    
    .facebookicon:hover {
        background-color: #4267B2;
    }
    
    .instagramicon:hover {
        background-color: #C13584;
    }
    
    .twittericon:hover {
        background-color: #1DA1F2;
    }
</style>


<footer class="container-fluid bg-dark p-3">

    <div class="row mt-2">
        <div class="col text-center">


        </div>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<script type="text/javascript" src="/vendor/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="/vendor/js/admin.js"></script>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>