<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }
        
        body {
            background-color: #ffffff !important;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
</head>

<body>

    <div class="wrapper">

        <div class="container-fluid vh-100">
            <div class="row vh-100 d-flex align-content-center mt-5">
                <div class="col-md-2 offset-md-5  p-2 ">
                    <div>
                        <% for(let i =0; i< errors.length; i++) { %>

                            <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        <%= errors[i] %>
                                    </div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="col-3 offset-5 bg-light py-3 px-5">

                    <form method="post" action="/postlogin">
                        <div class="row text-center">
                            <h2 class="text-light">Login</h2>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" pattern=".+@gmail\.com" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                            <div class="mt-2 d-flex justify-content-start">
                                <div class=""><input type="checkbox" onclick="myFunction()"></div>
                                <div class=" ms-1">
                                    <p class="fs-6" style="font-weight:10px"> <small>Show Password</small> </p>
                                </div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="usertype" class="form-label">User Type</label>

                            <select class="form-select" id="usertype" onchange="display()" name="usertype">
                            <option value="employee">Employee</option>
                            <option value="client">Client</option>
                            <option value="admin" selected>Manager</option>
                        </select>
                        </div>
                        <div class="mb-3">
                            <p id="first" class=""></p>
                            <p class="form-label " id="second" style="font-weight: 5px;"> <small> Don't have an account yet? <a href="/admin/registration" class="text-decoration-none">Sign Up</a></small></p>
                        </div>


                        <div class="m-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <script>
        function display() {
            var e = document.getElementById("usertype");
            var index = e.selectedIndex;
            if (index == 0) {
                document.getElementById("first").style.display = 'block'
                document.getElementById("second").style.display = 'none'
            } else if (index == 1) {
                document.getElementById("first").style.display = 'block'
                document.getElementById("second").style.display = 'none'
            } else if (index == 1) {
                document.getElementById("first").style.display = 'none'
                document.getElementById("second").style.display = 'block'
            }
        }

        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $(".toast").toast('show');
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <% if(loginMessage) {%>
        <script>
            Toastify({
                text: "Login Failed",
                backgroundColor: "rgba(255,0,0)",

                duration: 1000,
                className: "Error",
                offset: {
                    x: 700, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                    y: 650 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                },
            }).showToast();
        </script>
        <% } %>
</body>

</html>